flows1.json
[
    {
        "id": "6629e176bea1158c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f9e351277e8bb9f",
        "type": "ui_slider",
        "z": "6629e176bea1158c",
        "name": "DAC Slider",
        "label": "Valor do DAC",
        "tooltip": "",
        "group": "controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "esp32/DAC",
        "topicType": "str",
        "min": 0,
        "max": 255,
        "step": 1,
        "className": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "025c36b67799ca8a"
            ]
        ]
    },
    {
        "id": "025c36b67799ca8a",
        "type": "mqtt out",
        "z": "6629e176bea1158c",
        "name": "Publicar DAC",
        "topic": "esp32/DAC",
        "qos": "0",
        "retain": "false",
        "broker": "broker_config",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "4318c6e68199e0b2",
        "type": "inject",
        "z": "6629e176bea1158c",
        "name": "Requisitar Vazão",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "esp32/VAZAO",
        "payload": "?",
        "payloadType": "str",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "239fdac82dc7687b"
            ]
        ]
    },
    {
        "id": "239fdac82dc7687b",
        "type": "mqtt out",
        "z": "6629e176bea1158c",
        "name": "Solicitar Vazão",
        "topic": "esp32/VAZAO",
        "qos": "0",
        "retain": "false",
        "broker": "broker_config",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "3a1fa6c591be42c1",
        "type": "ui_gauge",
        "z": "6629e176bea1158c",
        "name": "Vazão",
        "group": "monitor",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vazão",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": 38,
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b33a42d7891166d",
        "type": "ui_gauge",
        "z": "6629e176bea1158c",
        "name": "Corrente Vazão",
        "group": "monitor",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Corrente (Vazão)",
        "label": "mA",
        "format": "{{value}}",
        "min": 4,
        "max": 20,
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "650e1d99a4e62bdf",
        "type": "ui_gauge",
        "z": "6629e176bea1158c",
        "name": "Frequência",
        "group": "monitor",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Frequência",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": 60,
        "x": 1150,
        "y": 520,
        "wires": []
    },
    {
        "id": "b132cd725c1c115a",
        "type": "ui_gauge",
        "z": "6629e176bea1158c",
        "name": "Corrente Freq",
        "group": "monitor",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Corrente (Freq)",
        "label": "mA",
        "format": "{{value}}",
        "min": 4,
        "max": 20,
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "5bdb133211b5cb99",
        "type": "mqtt in",
        "z": "6629e176bea1158c",
        "name": "Receber Vazão",
        "topic": "esp32/VAZAO/RESPOSTA",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "inputs": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "3a1fa6c591be42c1",
                "8d1f7a4adbb7ca8e",
                "ddfb9b76b567fc12"
            ]
        ]
    },
    {
        "id": "6efd6d7325d97b0d",
        "type": "mqtt in",
        "z": "6629e176bea1158c",
        "name": "Receber Corrente Vazão",
        "topic": "esp32/VAZAO/CORRENTE",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "inputs": 0,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "1b33a42d7891166d"
            ]
        ]
    },
    {
        "id": "a7242717e1328654",
        "type": "mqtt in",
        "z": "6629e176bea1158c",
        "name": "Receber Frequência",
        "topic": "esp32/DAC/FREQ",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "inputs": 0,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "650e1d99a4e62bdf",
                "f559debd0a49635b",
                "64bad666d63acf15"
            ]
        ]
    },
    {
        "id": "ef8344006f71d85f",
        "type": "mqtt in",
        "z": "6629e176bea1158c",
        "name": "Receber Corrente Freq",
        "topic": "esp32/DAC/CORRENTE/FREQ",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "inputs": 0,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "b132cd725c1c115a",
                "d78680d39a606e90",
                "f5d8b6990260109c"
            ]
        ]
    },
    {
        "id": "chart_vazao",
        "type": "ui_chart",
        "z": "6629e176bea1158c",
        "name": "Gráfico Vazão",
        "group": "charts",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Vazão (L/min)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "38",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "hour",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 340,
        "wires": [
            [
                "d7c6a039e13c3d0b"
            ]
        ]
    },
    {
        "id": "chart_freq",
        "type": "ui_chart",
        "z": "6629e176bea1158c",
        "name": "Gráfico Frequência",
        "group": "charts",
        "order": 2,
        "width": "6",
        "height": "3",
        "label": "Frequência (Hz)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#d71414",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 640,
        "wires": [
            [
                "809c437b9409dc16"
            ]
        ]
    },
    {
        "id": "chart_corrente",
        "type": "ui_chart",
        "z": "6629e176bea1158c",
        "name": "Gráfico Corrente",
        "group": "charts",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "Corrente (mA)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "4",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0ced10",
            "#dffc03",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 840,
        "wires": [
            [
                "c0ba515a31d1ce2f"
            ]
        ]
    },
    {
        "id": "8d1f7a4adbb7ca8e",
        "type": "function",
        "z": "6629e176bea1158c",
        "name": "String > Número 1 ",
        "func": "msg.payload = parseFloat(msg.payload);  // já funciona se vier como string\n\n// Se ainda assim estiver vindo como array (por precaução):\nif (Array.isArray(msg.payload)) {\n    msg.payload = parseFloat(msg.payload[0]);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "chart_vazao",
                "02e3a99cd755c030"
            ]
        ]
    },
    {
        "id": "f559debd0a49635b",
        "type": "function",
        "z": "6629e176bea1158c",
        "name": "String>Número 2",
        "func": "msg.payload = parseFloat(msg.payload);  // já funciona se vier como string\n\n// Se ainda assim estiver vindo como array (por precaução):\nif (Array.isArray(msg.payload)) {\n    msg.payload = parseFloat(msg.payload[0]);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 600,
        "wires": [
            [
                "chart_freq",
                "93372af1ef6bcf22"
            ]
        ]
    },
    {
        "id": "d78680d39a606e90",
        "type": "function",
        "z": "6629e176bea1158c",
        "name": "String>Numero 3 ",
        "func": "msg.payload = parseFloat(msg.payload);  // já funciona se vier como string\n\n// Se ainda assim estiver vindo como array (por precaução):\nif (Array.isArray(msg.payload)) {\n    msg.payload = parseFloat(msg.payload[0]);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 840,
        "wires": [
            [
                "chart_corrente",
                "3e604392c39e21b3"
            ]
        ]
    },
    {
        "id": "f5d8b6990260109c",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 880,
        "wires": []
    },
    {
        "id": "64bad666d63acf15",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "ddfb9b76b567fc12",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "d7c6a039e13c3d0b",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1500,
        "y": 340,
        "wires": []
    },
    {
        "id": "809c437b9409dc16",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1520,
        "y": 640,
        "wires": []
    },
    {
        "id": "c0ba515a31d1ce2f",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1520,
        "y": 840,
        "wires": []
    },
    {
        "id": "02e3a99cd755c030",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1240,
        "y": 260,
        "wires": []
    },
    {
        "id": "93372af1ef6bcf22",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "3e604392c39e21b3",
        "type": "debug",
        "z": "6629e176bea1158c",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1240,
        "y": 780,
        "wires": []
    },
    {
        "id": "controls",
        "type": "ui_group",
        "name": "Controles",
        "tab": "tab_esp32",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "monitor",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "tab_esp32",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "charts",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "tab_esp32",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "tab_esp32",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "order": 1
    }
]