fluxo1.json
[
    {
        "id": "dac_slider",
        "type": "ui_slider",
        "z": "main_flow",
        "name": "DAC Slider",
        "label": "Valor do DAC",
        "group": "controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "esp32/DAC",
        "min": 0,
        "max": 255,
        "step": 1,
        "x": 170,
        "y": 100,
        "wires": [["dac_out"]]
    },
    {
        "id": "dac_out",
        "type": "mqtt out",
        "z": "main_flow",
        "name": "Publicar DAC",
        "topic": "esp32/DAC",
        "qos": "0",
        "retain": "false",
        "broker": "broker_config",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "vazao_btn",
        "type": "inject",
        "z": "main_flow",
        "name": "Requisitar Vazão",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "esp32/VAZAO",
        "payload": "?",
        "payloadType": "str",
        "x": 180,
        "y": 160,
        "wires": [["vazao_out"]]
    },
    {
        "id": "vazao_out",
        "type": "mqtt out",
        "z": "main_flow",
        "name": "Solicitar Vazão",
        "topic": "esp32/VAZAO",
        "qos": "0",
        "retain": "false",
        "broker": "broker_config",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge_vazao",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "Vazão",
        "group": "monitor",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vazão",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": 38,
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "gauge_corrente_vazao",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "Corrente Vazão",
        "group": "monitor",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Corrente (Vazão)",
        "label": "mA",
        "format": "{{value}}",
        "min": 4,
        "max": 20,
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "gauge_freq",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "Frequência",
        "group": "monitor",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Frequência",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": 60,
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "gauge_corrente_freq",
        "type": "ui_gauge",
        "z": "main_flow",
        "name": "Corrente Freq",
        "group": "monitor",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Corrente (Freq)",
        "label": "mA",
        "format": "{{value}}",
        "min": 4,
        "max": 20,
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "mqtt_vazao_resp",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "Receber Vazão",
        "topic": "esp32/VAZAO/RESPOSTA",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "x": 410,
        "y": 220,
        "wires": [["gauge_vazao"]]
    },
    {
        "id": "mqtt_corrente_vazao",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "Receber Corrente Vazão",
        "topic": "esp32/VAZAO/CORRENTE",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "x": 420,
        "y": 280,
        "wires": [["gauge_corrente_vazao"]]
    },
    {
        "id": "mqtt_freq",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "Receber Frequência",
        "topic": "esp32/DAC/FREQ",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "x": 410,
        "y": 340,
        "wires": [["gauge_freq"]]
    },
    {
        "id": "mqtt_corrente_freq",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "Receber Corrente Freq",
        "topic": "esp32/DAC/CORRENTE/FREQ",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_config",
        "x": 420,
        "y": 400,
        "wires": [["gauge_corrente_freq"]]
    },
    {
        "id": "broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "controls",
        "type": "ui_group",
        "name": "Controles",
        "tab": "tab_esp32",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "monitor",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "tab_esp32",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "tab_esp32",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "order": 1
    }
]
